@{
    ViewData["Title"] = "Покупка";
}
<div class="p-4 p-md-5 mb-4 text-white bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic ">Покупка</h1>
        <p class="lead my-4 ">Оформление заказа</p>
    </div>
</div>
<h3 class="text-center">Форма оформления покупки</h3>
<h5 class="m-3">Для оформления покупки заполните следующие поля:</h5>
<form method="post">
    <input type="hidden" value="@ViewBag.KboardId" name="KboardId" />
    <table class="table">
        <tr>
            <td>Адрес:</td>
            <td><input type="text" class="form-control" name="Address" style="width: 250px" /></td>
        </tr>
        <tr>
            <td>Точка выдачи:</td>
            <td><input type="text" class="form-control" name="Point" style="width: 250px" /> </td>
        </tr>
        <tr>
            <td>Телефон:</td>
            <td><input type="text" class="form-control" name="ContactPhone" style="width: 250px" /></td>
        </tr>
        <tr><td><input type="submit" class="btn btn-primary" value="Отправить" style="width: 200px" /> </td><td></td></tr>
    </table>
</form>

