@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 Textovik">Varmilo Keyboard Artist</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="container-fluid">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/or_1.jpg" class="d-block w-100" alt="Клавиатура первая">
                <div class="carousel-caption d-none d-md-block">
                    <h5>VARMILO VCS87 CLIFF BOT: AWAKE</h5>
                    <p>Наша новая модель</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/or_2.jpg" class="d-block w-100" alt="Клавиатура вторая">
                <div class="carousel-caption d-none d-md-block">
                    <h5>VARMILO VCS87 CLIFF BOT: AWAKE</h5>
                    <p>Уже в продаже</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/or_3.jpg" class="d-block w-100" alt="Клавиатура третья">
                <div class="carousel-caption d-none d-md-block">
                    <h5>VARMILO VCS87 CLIFF BOT: AWAKE</h5>
                    <p>Наша новая модель</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Назад</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Вперед</span>
        </a>
    </div>
</div>




<div class="item mt-5 ml-2">
    <div class="row g-3 g-xl-0">
        <div class="col-2 col-xl-3">
            <img class="img-fluid post-thumb p-4" src="~/images/or_1.jpg" alt="image">
        </div>
        <div class="col">
            <h3 class="title mb-1 ">VARMILO VCS87 CLIFF BOT: AWAKE</h3>
            <div class="intro Textovik4 p-4 mr-2">
                В данной модели основным цветом является тёплый белый, в то время как клавиши-модификаторы представлены в оранжевом и чёрном цветах. USB Type-C порт спрятан в центре под корпусом, а на самой клавиатуре имеются центральная и две боковые канавки под кабель с дополнительными отверстиями, благодаря чему кабель можно вывести аж в семи направлениях.
            </div>

        </div>
    </div>
</div>

<div class="item mt-5 ml-2">
    <div class="row g-3 g-xl-0">
        <div class="col-2 col-xl-3">
            <img class="img-fluid post-thumb p-4" src="~/images/ms_1.jpg" alt="image">
        </div>
        <div class="col">
            <h3 class="title mb-1 ">VARMILO VA87M BEIJING OPERA</h3>
            <div class="intro Textovik4 p-4 mr-2">
                Клавиши изготовлены из высокопрочного пластика PBT с применением dye-sublimation технологии, с выгравированными символами на боках. Использование dye-sub позволяет символам никогда не стираться и никак не чувствоваться при печати, а качественный PBT пластик гарантирует надежность и долговечность. Клавиши имеют слегка текстурированный верх и приятны на ощупь.
            </div>

        </div>
    </div>
</div>



<!--<div id="section-tutor" class="section-tutor section pb-5 mt-3 mb-3" style="background: url(/images/ex_1.jpg); position:  center; background-size: cover; ">
    <div class="container">
        <div class="container-inner p-5 position-relative theme-bg-primary rounded">
            <div class="section-bg-container"></div>
            <div class="row over-section-bg">
                <div class="col-12 col-lg-3">
                    <div class="tutor-img-holder mb-5 mb-lg-0 text-center">
                        <img class="tutor-profile img-fluid rounded" src="~/images/cus_2.jpg" alt="" >
                    </div>-->
<!--//tutor-img-holder-->
<!--</div>--><!--//col-->
<!--<div class="col-12 col-lg-9">
    <div class="pl-lg-4">
        <h3 class="section-title mb-4 text-white text-lg-start">Meet The Tutor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at hendrerit augue, eu pellentesque dolor. Praesent vel congue velit. Fusce lorem nisl, condimentum in pulvinar et, laoreet vel felis. Duis tincidunt ex sed risus posuere, quis venenatis quam tincidunt. Quisque arcu lacus, mollis volutpat turpis sit amet, interdum eleifend sem.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam auctor leo at mi dignissim, tempor porttitor leo vehicula.</p>
        <div class="text-center text-lg-start">
            <ul class="social-list list-unstyled mt-4 mb-0 mx-auto mx-lg-0">
                <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-globe fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-blog fa-fw"></i></a></li>
            </ul>-->
<!--//social-list-->
<!--</div>
    </div>
</div>-->
<!--//col-->
<!--</div>--><!--//row-->
<!--</div>--><!--//container-inner-->
<!--</div>--><!--//container-->
<!--</div>--><!--//section-tutor-->

<div id="section-tutor" class="section-tutor section pb-5 mt-3" style="background: url(/images/ex_1.jpg); position:  center; background-size: cover;">



    <div id="section-tutor" class="section-tutor section pb-5 mt-3">
        <div class="container">
            <div class="container-inner p-5 position-relative theme-bg-primary rounded">
                <div class="section-bg-container"></div>
                <div class="row over-section-bg">
                    <div class="col-12 col-lg-3">
                        <div class="tutor-img-holder mb-5 mb-lg-0 text-center">
                            <img class="tutor-profile img-fluid rounded" src="~/images/cust_2.jpg" alt="">
                        </div><!--//tutor-img-holder-->
                    </div><!--//col-->
                    <div class="col-12 col-lg-9">
                        <div class="pl-lg-4">
                            <h3 class="section-title mb-4 text-white text-lg-start">Мы делаем кастом</h3>
                            <p class="Textovik4" style="color:white;">Предлагаем вашему вниманию кастомные сборки. Вы можете составлять любой кастом по вашему вкусу. В него входит выбор вернего и нижнего кейсов, кейкапы, свитчи, подсветка, оригинальные надписи на корпусе, дополнительные аксессуары.</p>
                            <p class="Textovik4" style="color:white;">Ознакомиться полностью..</p>
                            <div class="text-center text-lg-start">
                                <ul class="social-list list-unstyled mt-4 mb-0 mx-auto mx-lg-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-globe fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-blog fa-fw"></i></a></li>
                                </ul><!--//social-list-->
                            </div>
                        </div>
                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//container-inner-->
        </div><!--//container-->
    </div><!--//section-tutor-->
    <div id="section-tutor" class="section-tutor section pb-5 ">
        <div class="container">
            <div class="container-inner p-5 position-relative theme-bg-primary rounded">
                <div class="section-bg-container"></div>
                <div class="row over-section-bg">
                    <div class="col-12 col-lg-3">
                        <div class="tutor-img-holder mb-5 mb-lg-0 text-center">
                            <img class="tutor-profile img-fluid rounded" src="~/images/cust_4.jpg" alt="">
                        </div><!--//tutor-img-holder-->
                    </div><!--//col-->
                    <div class="col-12 col-lg-9">
                        <div class="pl-lg-4">
                            <h3 class="section-title mb-4 text-white text-lg-start">Выберите подходящие кейкапы</h3>
                            <p class="Textovik4" style="color:white;">У нас большой выбор кейкапов от самых разных производителей. В этот список входит одни из самых известных, как ZOMO, EnjoyPBT, Pulse и многие другие.</p>
                            <p class="Textovik4" style="color:white;">Ознакомиться полностью..</p>
                            <div class="text-center text-lg-start">
                                <ul class="social-list list-unstyled mt-4 mb-0 mx-auto mx-lg-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-globe fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-blog fa-fw"></i></a></li>
                                </ul><!--//social-list-->
                            </div>
                        </div>
                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//container-inner-->
        </div><!--//container-->
    </div><!--//section-tutor-->
    <div id="section-tutor" class="section-tutor section pb-5  mb-3">
        <div class="container">
            <div class="container-inner p-5 position-relative theme-bg-primary rounded">
                <div class="section-bg-container"></div>
                <div class="row over-section-bg">
                    <div class="col-12 col-lg-3">
                        <div class="tutor-img-holder mb-5 mb-lg-0 text-center">
                            <img class="tutor-profile img-fluid rounded" src="~/images/cust_1.jpg" alt="">
                        </div><!--//tutor-img-holder-->
                    </div><!--//col-->
                    <div class="col-12 col-lg-9">
                        <div class="pl-lg-4">
                            <h3 class="section-title mb-4 text-white text-lg-start">Ремонт и апгрейд</h3>
                            <p class="Textovik4" style="color:white;">Обслуживание клавиатур - дело очень нелегкое и трудозатратное. Наша компания поможет Вам с этой трудностью, поэтому мы предлагаем следующие услуги: установка конвертера, монтаж/демонтаж диодов, смазка/замена стабилизаторов, переключателей, </p>
                            <p class="Textovik4" style="color:white;">Ознакомиться полностью..</p>
                            <div class="text-center text-lg-start">
                                <ul class="social-list list-unstyled mt-4 mb-0 mx-auto mx-lg-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-globe fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-blog fa-fw"></i></a></li>
                                </ul><!--//social-list-->
                            </div>
                        </div>
                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//container-inner-->
        </div><!--//container-->
    </div><!--//section-tutor-->

</div>@*etot*@

<section class="hero-section mt-3 mb-3" style="background: url(/images/x3.jpg); position:  center; background-size: cover;">
    @* style="background: url(/images/gr_1.jpg); position: relative; background-size: contain; *@
    <div class="hero-mask">
    </div><!--//hero-mask-->
    <div class="container text-center py-5">
        <div class="single-col-max mx-auto">
            <div class="hero-heading-upper pt-3 mb-3" style="color:white;">Ограниченная серия <br class="d-md-none" style="color:white;">комплектов</div>
            <h1 class="hero-heading mb-5">
                <span class="brand mb-4 d-block"><span class="name" style="color:white;">Varmilo</span></span>
                <span class="desc d-block" style="color:white;">Тестирование новых свитчей на наших моделях</span>
            </h1>
            <div class="text-center mb-5">
                <a href="#section-pricing" class="btn btn-primary btn-lg scrollto">Смотреть</a>
            </div>

            <div class="hero-summary">
                <div class="row">
                    <div class="item col-4">
                        <div class="summary-desc mb-1" style="color:white;"><i class="icon fas fa-video me-2" style="color:white;"></i>Тип разъема</div>
                        <h4 class="summary-heading" style="color:white;">USB <span class="desc" style="color:white;">Type-C</span></h4>

                    </div><!--//col-->
                    <div class="item col-4">
                        <div class="summary-desc mb-1" style="color:white;"><i class="icon fas fa-clock me-2" style="color:white;"></i>Вес</div>
                        <h4 class="summary-heading" style="color:white;">0.6 <span class="desc" style="color:white;">кг</span></h4>

                    </div><!--//col-->
                    <div class="item col-4">
                        <div class="summary-desc mb-1" style="color:white;"><i class="icon fas fa-user-circle me-2" style="color:white;"></i>Предзаказ</div>
                        <h4 class="summary-heading" style="color:white;">Доступен с 14 Ноября</h4>

                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//hero-summary-->
        </div><!--//single-col-max-->
    </div><!--//container-->
</section><!--//hero-section-->
@*<div class="card-1 mb-3 mt-5 border-0">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/or_1.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body border-0">
                    <p class="card-text txt border-0 CardTextovik">
                        Varmilo – производитель, которого по многим параметрам можно поставить на один уровень с Леопольд: они так же серьезно относятся к качеству своей продукции, так же не тратят уйму средств на маркетинг и точно так же используют премиальные материалы в своей продукции, но что же их отличает? А отличает их страсть к необычным цветовым решениям. Леопольд стараются выпускать свои продукты в сдержанных и классических тонах, Вармило же не боится экспериментировать и её продукцию можно найти как в классическом исполнении, так и в весьма необычных цветовых решениях.
                    </p>
                </div>
            </div>
        </div>
    </div>*@
<section style="background: url(/images/22.jpg); position: center; background-size:  cover; min-height: 800px;">
    <h1 class="hero-heading mb-5 pt-3">
        <span class="brand mb-4 d-block text-center"><span class="name" style="color:white;">Звучание клавиш на нашей клавиатуре</span></span>
    </h1>
    <div class="embed-responsive embed-responsive-16by9 " frameborder="0" allowfullscreen style="margin-left:auto; margin-right:auto; margin-bottom:auto; margin-top: auto; max-width: 950px; max-height: 950px">
        <iframe class="embed-responsive-item " src="https://www.youtube.com/embed/tTwav32SvJA"></iframe>
    </div>
        
</section>

<section class="section_1 section-2" style="background: url(/images/22.jpg);">
    <div class="text-box">
        <p class="descy">
            Arbuz
        </p>
    </div>
</section>
