@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="p-4 p-md-5 mb-4 text-white bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic ">Сообщение</h1>
        <p class="lead my-4 ">Здесь можно отправить свое пожелание по добавлению какого-либо клавиатурного функционала, который Вы хотели бы увидеть.</p>
    </div>
</div>


@*<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Тема сообщения</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Интересующая тема">
</div>*@

@*@using (Html.BeginForm("Privacy", "Home", FormMethod.Post))
{
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ваш текст</label>
        <label for="exampleFormControlTextarea1" class="form-label"></label>

        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">@Html.TextAreaFor(model => model.Body, new { rows = "3", cols = "20" })</textarea>
    </div>
}*@


@*<button type="button" class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="SendEmailCustom">Отправить</button>*@

@*@using (Html.BeginForm("Text", "Home", FormMethod.Post))
{
            <p>Введите текст</p>
            @Html.TextBox("TextMessage", "")

            <input type="submit" value="Отправить" /> 
    
}*@
<div class="container">
    <div class="row">
        <div class="col">
                <div class="mb-3">
                    <label class="from-label">Тема</label>
                    <input type="text" class="form-control" name="tema">
                </div>
                <div class="mb-3">
                    <label class="from-label">Сообщение</label>
                    <input type="text" class="form-control" name="message">
                </div>
                <a asp-area="" asp-controller="Home" asp-action="SendEmailCustom">Отправить</a>
                @*<button type="submit" class="btn btn-primary" name="btnCalc">Отправить</button>*@
        </div>
    </div>
</div>
