@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Отправка сообщения</h1>

<p>Заполните следущие данные</p>

@*<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Тема сообщения</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Интересующая тема">
</div>*@

@*@using (Html.BeginForm("Privacy", "Home", FormMethod.Post))
{
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ваш текст</label>
        <label for="exampleFormControlTextarea1" class="form-label"></label>

        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">@Html.TextAreaFor(model => model.Body, new { rows = "3", cols = "20" })</textarea>
    </div>
}*@

<div>
    <a asp-area="" asp-controller="Home" asp-action="SendEmailCustom">Отправить</a>
</div>
@*<button type="button" class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="SendEmailCustom">Отправить</button>*@

@using (Html.BeginForm("Text", "Home", FormMethod.Post))
{
            <p>Введите свой текст!!!!</p>
            @Html.TextBox("TextMessage", "")

            <input type="submit" value="Отправить" /> 
    <a asp-area="" asp-controller="Home" asp-action="Text">Отправить</a>
    <a asp-area="" asp-controller="Home" asp-action="SendEmailCustom">Отправить</a>
}

